*{
    margin: 0;
    padding: 0;
}

.nav-root{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23.5px 115.5px 24.5px 115.5px;
    background: #ffffff;
}
.nav-links ul{
    display: flex;
    list-style: none;
    gap: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.600000023841858;
    color: #575757FF;
}
.nav-links ul li a{
    text-decoration: none;
}
.cmn-btn{
    color: #ffffffFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    background:#1d4ed8FF;
    padding: 12px 41.5px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.cmn-btn:hover{
    background: #2563ebFF;
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/banner.jpg);
   background:linear-gradient(to bottom,rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0.88) 85%),linear-gradient(to right,rgba(0, 0, 0, 0.6) 20%,rgba(0, 0, 0, 0) 80%),url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    gap: 30px;
    padding: 136px 252px 79px 340px; 
}
.hero-section h1{
   font-family: 'Inter', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    color: white;
}
 .hero-section p{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.09;
    color: #ffffffFF;
    padding: 16px 0px 278px 0px;
}
.speakers h1{
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.15;
}
.speakers-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 252px 0px 340px;
    gap: 33px;
} 

.speakers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55.5px 80px;
}
.speakers-card{
    gap: 20px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
}
.speakers-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 24px;
    gap: 8px;
}
.speakers-card-text h3{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    line-spacing: 0.3;
    color: #2563ebFF;
}
.speakers-card-text p:nth-child(2){
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.375;
    color:#0d1b2aFF;;
}
.speakers-card-text p:nth-child(3){
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color:#575757FF;
}
.speakers h1{
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    font-weight: 700;
    padding: 80px 325px 56px 325px;
}
.pricing{
    padding: 43px 55.5px;
}
.pricing-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
}
.prices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 96px 60px 80px 60px;
    gap:24px;
}

.pricing-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    gap: 24px;
}
.pricing-card h5{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    color: #888888FF;;
}
.pricing-card h1{
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    color: #0d1b2aFF;
}
.pricing-card p{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color:#888888FF;;
}
.pricing-card ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 10px;
}
.pricing-card ul li{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
}
.pricing-card hr{
    border: 1px solid #e5e7eb;
}
.another{
    background-color: white; color: #1d4ed8FF; border: 1px solid #1d4ed8FF;
}
.another:hover{
    background: #2563ebFF;
    color: white;
}
.pricing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:12px
}
.pricing-text h1{
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.15;
    color: #0d1b2aFF;
}
.pricing-text p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #575757FF;
}
.footer{
    background: #13283e;
    max-width: 100%;
}
.footer-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 30px;
    gap: 20px;
}
.footer img{
    width: 30px;
    height: 30px;
}
.footer-logo{
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 20px;
}
.footer-links{
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 20px;
}
.footer p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffffFF;
}
.footer-links ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
.footer-copyright{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 60px;
}
.footer-copyright div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-copyright p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffffFF;
}